* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #e8eaec;
  color: #0d0d0d;
  line-height: 1.6;
}

header {
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  padding: 80px 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  opacity: 0.9;
}

.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 26px;
  background: #38bdf8;
  color: #020617;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 600;
  transition: 0.2s;
}

.btn:hover {
  background: #0ea5e9;
}

section {
  max-width: 900px;
  margin: 50px auto;
  padding: 0 20px;
}

section h2 {
  margin-bottom: 10px;
  color: #0f172a;
}

ul {
  padding-left: 20px;
}


/* Footer Styling */
footer {
  text-align: center;
  padding: 25px;
  background: #020617;
  color: #aaa;
  margin-top: 60px;
}

.footer-text {
  font-size: 0.9rem;
}

.footer-link {
  color: #38bdf8;
  text-decoration: none;
  margin-left: 4px;
  font-weight: 500;
  transition: all 0.2s ease;
}

/* Hover Effect */
.footer-link:hover {
  color: #0ea5e9;
  text-decoration: underline;
}

